<template>
  <div class="card-detail-wrapper">
    <div class="card-detail">
      <div class="card-information">
        <span class="card-title">{{ title }}</span>
        <div class="card-information-rate">
          <ion-icon name="star" class="card-information-rate-icon"></ion-icon>
          <span class="card-information-rate-value">{{ vote }}</span>
        </div>
        <div class="card-information-overview">
          <p>{{ overview }} </p>
        </div>
      </div>
      <div class="card-information-related">
        <div class="card-information-section">
          <span class="card-information-related-title">Fecha de Lanzamiento:</span>
          <span class="card-information-related-content">{{ releasedOn }}</span>
        </div>
        <div class="card-information-section">
          <span class="card-information-related-title">Paises de lanzamiento:</span>
          <span
            v-for="(country, index) in productionCountries"
            :key="`country${index}`"
            class="card-information-category"
          >{{ index ? ', ': ''}}{{ country.name }}</span>
        </div>
        <div class="card-information-section">
          <span class="card-information-related-title">Ingresos:</span>
          <span class="card-information-related-content">{{ revenue }} dólares</span>
        </div>
        <div class="card-information-section">
          <span class="card-information-related-title">Géneros:</span>
          <span
            v-for="(category, index) in categories"
            :key="`category${index}`"
            class="card-information-category"
          >{{ index ? ', ': ''}}{{ category.name }}</span>
        </div>
      </div>
      <div class="button-group">
        <button class="button button-primary" @click="addProduct(title, productId)">Añadir al carrito</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    productId: {
      type: Number,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    overview: {
      type: String,
      default: ''
    },
    releasedOn: {
      type: String,
      default: ''
    },
    vote: {
      type: Number,
      required: true
    },
    categories: {
      type: Array,
      default: () => []
    },
    adults: {
      type: Boolean,
      default: false
    },
    productionCountries: {
      type: Array,
      default: () => []
    },
    revenue: {
      type: Number,
      default: 0
    },
    status: {
      type: String,
      default: 'Released'
    }
  },
  methods: {
    ...mapActions({
      addToOrder: 'order/addToOrder'
    }),
    addProduct(title, id) {
      this.addToOrder({ title, id })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.card-detail {
  box-shadow: 0px 6px 10px -1px rgba($box-shadow, 0.55);
  border: 1px solid $grey-light;
  padding: 30px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
  color: $black;
  line-height: 1.4;
}

.card-information {
  font-size: 14px;
  color: $grey-font;
}

.card-information-overview {
  margin-bottom: 20px;
  &>*{
    font-size: 14px;
    line-height: 1.4;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  .button:not(:last-child) {
    margin-right: 14px;
  }
}

.card-information-rate {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.card-information-rate-icon {
  color: orange;
  font-size: 18px;
  margin-right: 6px;
}

.card-information-rate-value {
  font-size: 16px;
  margin-top: 2px;
}

.card-information-section {
  font-size: 14px;
  margin: 20px 0;
  color: $black;
  line-height: 1.4;
}

.card-information-related-title {
  font-weight: bold;
}

.card-information-related-content {
  font-style: italic;
}

</style>
