<template>
  <div class="footer">
    <div class="wrapper">
      <div class="footer-content">
        <div class="footer-copyright">
          <span class="footer-copyright-title">Aviso legal</span>
          <span class="footer-copyright-author">Copyright (c) 2021 Jesus Test All Rights Reserved</span>
          <span class="footer-copyright-author">This product is protected by copyright and distributed under licenses restricting copying, distribution, and decompilation.</span>
        </div>
        <div class="footer-media">
          <span class="footer-media-title">Siguenos</span>
          <ul class="footer-media-links">
            <li class="footer-media-link">
              <a
                target="_blank"
                href="https://www.facebook.com/"
                title="facebook"
              >
                <i
                  name="logo-facebook"
                  class="ion ion-logo-facebook footer-media-icon"
                />
              </a>
            </li>
            <li class="footer-media-link">
              <a
                target="_blank"
                href="https://twitter.com/lang=es"
                title="twitter"
              >
                <i
                  name="logo-twitter"
                  class="ion ion-logo-twitter footer-media-icon"
                />
              </a>
            </li>
            <li class="footer-media-link">
              <a
                target="_blank"
                href="https://www.linkedin.com/"
                title="linkedin"
              >
                <i
                  name="logo-linkedin"
                  class="ion ion-logo-linkedin footer-media-icon"
                />
              </a>
            </li>
            <li class="footer-media-link">
              <a
                target="_blank"
                href="https://www.youtube.com/"
                title="youtube"
              >
                <i
                  name="logo-youtube"
                  class="ion ion-logo-youtube footer-media-icon"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.footer {
  background-color: $gray-footer;
  color: $white;
  padding: 30px 0;
  min-height: 134px;
  position: relative;
  &:after {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -4px;
    background-color: $primary;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 26px;
  margin-bottom: 18px;
  position: relative;
  &::after {
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #545252;
    width: 200px;

  }
}
.footer-copyright-title {
  line-height: 1.4;
  margin-bottom: 6px;
  font-weight: 700;
}
.footer-copyright-author {
  font-size: 12px;
  color: $grey;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 8px;
}
.footer-media {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.footer-media-links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-media-link {
  margin: 0 10px;
  a {
    width: 34px;
    height: 34px;
    background-color: #33383b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  i {
    font-size: 20px;
    color: white;
  }
}

@media #{$laptop} {
  .footer-content {
    flex-direction: row;
  }
  .footer-copyright,
  .footer-media {
    flex: 1 1 auto;
  }
  .footer-copyright {
    margin: 0;
    padding: 0;
    align-items: self-start;
    margin-right: 40px;
    &:after {
      display: none;
    }
  }
  .footer-media-title {
    font-size: 16px;
  }
  .footer-media {
    text-align: left;
  }
  .footer-media-links {
    justify-content: flex-start;
  }
  .footer-media-link {
    margin-left: 0;
    margin-right: 14px;
  }
}
</style>
