.page-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 22px;
  color: $black;
}

.page-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  color: $black;
}

.page-wrapper {
  min-height: calc(100vh - 196px);
}

.section-wrapper {
  padding: 40px 0;
}

.button {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $primary;
  cursor: pointer;
  text-align: center;
}

.button-primary {
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: darken($primary, 10%);;
  }
}

.button-secondary {
  background-color: white;
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}
