// BREAKPOINTS
$mobile-size: 320px;
$tablet-size: 768px;
$laptop-size: 1024px;
$desktop-size: 1366px;
$fullhd-size: 1920px;

// MEDIA QUERIES
$mobile: '(max-width: #{$tablet-size})';
$tablet: '(min-width: #{$tablet-size})';
$laptop: '(min-width: #{$laptop-size})';
$desktop: '(min-width: #{$desktop-size})';
$fullhd: '(min-width: #{$fullhd-size})';

// LAYOUT PADDINGS
$mobile-padding: 10px;
$tablet-padding: 20px;
$laptop-padding: 40px;
$desktop-padding: 30px;
$fullhd-padding: 30px;

// COLORS
$white: #fff;
$blue: #3EB4FF;
$black: #232323;
$gray-footer: #2a2c2f;
$gray-header: #27313c;
$box-shadow: #d1d1d1;
$grey-back: #f7f7f7;
$grey-light: #e4e4e4;
$grey: #999;
$grey-font: #888;
$grey-table: #f8f8f8;
$primary: #ab5f9f;
$secondary: #FBC50F;
$error: #f33733;
$success: #4BCA81;

// FONTS
$corporate-font: 'Montserrat', sans-serif;
$corporate-font-semi: 'Montserrat semibold', sans-serif;;
$secondary-font: 'Lato', sans-serif;
$font-size: 16px;
