<template>
  <form class="search-form">
    <slot />
    <div class="form-fields-wrapper">
      <div class="form-field">
        <label for="moviename" class="sr-only">Nombre de la pelicula</label>
        <input id="moviename"  v-model="model.value" placeholder="Nombre de la película" autocomplete="on" type="text" class="form-input">
      </div>
      <button type="submit" class="button button-primary button-submit" @click="startSearch($event)">Buscar</button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      model: {
        value: ''
      }
    }
  },
  methods: {
    startSearch(e) {
      e.preventDefault();
      this.$emit('startSearch', this.model.value)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~assets/styles/vars';
.search-form {
  padding: 40px 10px 30px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
}
.form-input {
  box-shadow: 0px 6px 10px -1px rgba($box-shadow, 0.55);
  border: 1px solid #e4e4e4;
  padding: 14px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 16px;
  font-size: 16px;
}
.form-field {
  display: flex;
  flex-direction: column;
}

.button-submit {
  width: 100%;
}

@media #{$laptop} {
  .form-fields-wrapper {
    display: flex;
    max-width: 600px;
    margin: auto;
  }
  .form-input {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .form-field {
    flex: 1 1 auto;;
  }
  .button-submit {
    width: 140px;
  }
}
</style>
