<template>
  <div class="page-wrapper">
    <div class="section-wrapper section-introduction">
      <CarouselSlider />
    </div>
    <div class="section-wrapper">
      <div class="wrapper">
        <h2 class="page-title">Descubre nuestros productos más populares</h2>
        <ul class="popular-list">
          <li v-for="(movie, index) in popular" :key="`popular${index}`" class="popular-item">
            <CardProduct
              :product-id="movie.id"
              :title="movie.title"
              :overview="movie.overview"
              :released-on="movie.released_on"
              :vote="movie.vote"
              :categories="movie.category_ids"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { getMostPopular, getCategories } from '~/services/movies'

export default {
  async asyncData({store, redirect, error}) {
    const popular = await getMostPopular()
    let categories = []
    if (!store.state.categories.size) {
      categories = await getCategories()
    }
    return { popular, categories }
  },
  computed: {
    ...mapGetters({
      hasCategories: 'categories/hasElements'
    })
  },
  mounted() {
    this.refreshCategories(this.categories)
  },
  methods: {
    ...mapActions({
      refreshCategories: 'categories/refreshCategories'
    })
  }
}
</script>


<style lang="scss" scoped>
@import '~assets/styles/vars';
.section-introduction {
  padding: 0;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
}

.popular-item {
  flex: 1 1 auto;
  width: 100%;
}

@media #{$tablet} {
  .popular-list {
    margin: 0 -10px;
  }
 .popular-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
 .popular-item {
    max-width: 25%;
  } 
}
</style>
