<template>
  <div class="page-wrapper">
    <div class="section-wrapper">
      <div class="wrapper">
        <CommonBreadcrumb :breadcrumbs="breadcrumbs" />
        <h2 class="page-title">Peliculas de {{ categoryName }}</h2>
        <ul class="genre-list">
          <li v-for="(movie, index) in movies" :key="`popular${index}`" class="genre-item">
            <CardProduct
              :product-id="movie.id"
              :title="movie.title"
              :overview="movie.overview"
              :released-on="movie.released_on"
              :vote="movie.vote"
              :categories="movie.category_ids"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { getByGenre, getCategories } from '~/services/movies'

export default {
  async asyncData({route, store, redirect, error}) {
    let categories = []
    if (!store.state.categories.size) {
      categories = await getCategories()
    }
    const movies = await getByGenre(route.params.categoryId)
    return { movies, categories, categoryID: parseInt(route.params.categoryId) }
  },
  data: () => ({
    breadcrumbs: [
      {
        title: 'Catalogo',
        to: '/catalogo'
      },
      {
        title: 'Peliculas'
      }
    ]
  }),
  computed: {
    ...mapGetters({
      hasCategories: 'categories/hasElements',
      getCategoryById: 'categories/getCategoryById'
    }),
    categoryName() {
      return this.getCategoryById(this.categoryID)
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.refreshCategories(this.categories)
    })
  },
  methods: {
    ...mapActions({
      refreshCategories: 'categories/refreshCategories'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/vars';
.genre-list {
  display: flex;
  flex-wrap: wrap;
}

.genre-item {
  flex: 1 1 auto;
  width: 100%;
}

@media #{$tablet} {
  .genre-list {
    margin: 0 -10px;
  }
 .genre-item {
    max-width: 50%;
    padding: 0 10px;
  } 
}

@media #{$laptop} {
 .genre-item {
    max-width: 25%;
  } 
}
</style>

